include mixins

doctype html
html
  head(lang="en")
    title Jitta Prefood Today
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    link(rel="stylesheet", href="/css/materialize.min.css", type="text/css")
    link(rel="stylesheet", href="/css/main.css", type="text/css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons", type="text/css")
  body
    .container
      .row
      if !food
          .col.s12.m5
            .card-panel.teal
              span.white-text No one rate food today.
      else
        .card
          .card-image.waves-block.waves-light
            img.food-cover(src='/img/card/#{cardImage}' height="500")
          .card-content
            .row
              .col.s12
                span.card-title.activator.grey-text.text-darken-4
                  h4 Food for date <b>#{food.cookedDate.toDateString()}</b>
                p Total people rate are <b>#{food.ratings.length}</b>
                p Average rating today is <b>#{food.averageRating}</b>
            +feedback('foodName')
            +feedback('good')
            +feedback('bad')
            +feedback('improve')
            

    footer.page-footer
      .container
        .row
          .col.l6.s12
            h5.white-text Jitta Prefood
            p 
              <iframe src="https://ghbtns.com/github-btn.html?user=jitta&repo=prefood&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
              <iframe src="https://ghbtns.com/github-btn.html?user=jitta&repo=prefood&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="100px" height="30px"></iframe>
          .col.l4.offset-l2.s12
            h5.white-text Connect
            ul
              li
                a.grey-text.text-lighten-3(href='https://github.com/jitta/prefood' target="blank") GitHub Repo
              li
                a.grey-text.text-lighten-3(href='https://github.com/jitta/prefood/issues' target="blank") Report issues
      .footer-copyright
        .container
          | Made with hungry by Jitta Engineer <img class="img-curry" src="/img/curry.png" height="30">
          




                

      



              
    script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript", src="/js/materialize.min.js")
    
