mixin feedback(type)
  -
    var headerDict = {
      good: "What went well?",
      bad: "What didn't go so well?",
      improve: "What can do better next time?",
      foodName: "Food name"
    }
    var header = headerDict[type] 
    function shuffle(o) {
      var j, x, i;
      for (i = o.length; i; i -= 1) {
        j = Math.floor(Math.random() * i);
        x = o[i-1];
        o[i-1] = o[j];
        o[j] = x;
      }

      return o;
    }
  .row
    .col.s12.m8
      ul.collection.with-header
        li.collection-header
          h5=header
        each val in shuffle(food.ratings)
          if val.feedback && val.feedback[type] && val.feedback[type].length > 2
            li.collection-item= val.feedback[type]

mixin leaderboard(ranking)
  .card.leaderboard
    .card-content
      each item, index in ranking
        - var percentage = (item.averageRating/5) * 100
        - var date = item.cookedDate.getFullYear() + '-' + (item.cookedDate.getMonth() + 1) + '-' + item.cookedDate.getDate()
        .row
          .col.s2
            h5.valign.center-align= index+1
          a(href="/food/#{date}" target="_blank")
            .col.s10 
              .progress
                .progress-bar(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style="width: #{percentage}%")
              .undertext
                .food-name.left 
                img(class="img-circle" src="https://graph.facebook.com/#{item.prefood.fid}/picture")
                span= item.foodName || 'ยังไม่ได้เลือกชื่ออาหาร'
                .average-rating.right= item.averageRating
